.code_editor {
  border: 1px solid #707070;
  padding: 5px;
  margin-top: 150px;
  margin-bottom: 50px;
  border-radius: 6px;
  width: 95%;
  overflow: hidden;
  resize: none;
}

/* Prevent code editor from stretching the browser when long texts are entered */
.wrap {
  display: grid;
}

