.signup_form {
    margin: 50px 0;
}

.signin_button {
    padding: 8px 30px !important;
    font-size: 24px !important;
    font-weight: lighter !important;
}

@media only screen and (min-width: 600px) {
    .signin_button {
        padding: 8px 75px !important;
    }
}
