.chat_textbox {
    width: 100%;
    border: none;
    font-weight: 200;
    box-shadow: 1px 6px 1px #E0E0E0;
}

.chat_input {
    width: 100%;
    background-color: #A7C7C8;
    border: none;
}

.chat_input:focus {
    border:none;
}

.chat_input::placeholder {
    color: white;
}