.chattextbox {
    width: 100%;
    border: none;
    font-weight: 200;
    box-shadow: 1px 6px 1px #E0E0E0;
}

.chatinput {
    width: 100%;
    background-color: #A7C7C8;
    border: none;
}

.chatinput:focus {
    border:none;
}

.chatinput::placeholder {
    color: white;
}