.easy {
    padding: 8px 75px !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    border-color: #A7C7C8 !important;
    color: #A7C7C8 !important;
}
.medium {
    padding: 8px 75px !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    border-color: #FFCE0C !important;
    color: #FFCE0C !important;
}
.hard {
    padding: 8px 75px !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    border-color: #FFA2A2 !important;
    color: #FFA2A2 !important;
}
